.list-date {
    width: 20px;
}
.list-label {
    width: 100px;
}
.list-group-item {
    display:inline-block;
    width:100%;
    cursor:pointer;
    border-radius: 0 !important;

    border-bottom-style: none;
    border-left-style:none;
    border-right-style:none;
    border-top: 1px solid #ddd !important;

}
.list-group-item:hover {
    background-color:#eee;
}
.inline-list-item {
    display:inline-block;
    padding: 0 5px;
    color:#444;
}

.list-group {
    margin-bottom: 0;
}