@import 'normalize.css';
@import 'mixins.styl';

html
  color #222
  font-weight 100
  font-size 1em
  font-family var(--font-family-base)
  line-height 1.375

body
  background-color #fff
  color #34495e
  padding 0 !important
  margin 0 !important
  font-size 14px
  font-family "Open Sans", sans-serif


/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* These selection rule sets have to be separate.
* Customize the background color to match your design.
*/
::-moz-selection
  background #b3d4fc
  text-shadow none

::selection
  background #b3d4fc
  text-shadow none



/*
 * A better looking default horizontal rule
 */


hr
  display block
  height 1px
  border 0
  border-top 1px solid #ccc
  margin 1em 0
  padding 0


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video
  vertical-align middle

td
  padding 5px 2px !important
  border none !important

fieldset
  border 0
  margin 0
  padding 0


/*
 * Allow only vertical resizing of textareas.
 */

textarea
  resize vertical

.browserupgrade
  margin 0.2em 0
  background #ccc
  color #000
  padding 0.2em 0



/* Originals */


a
  color $black
  text-decoration none
  &:visited
    color $black

.wrapper
  margin 0 auto
  max-width 900px

*
  box-sizing border-box

/* End Originals */






/*
Custom Bootstrap
*/

.nav-tabs
  border none !important
  background 0 0 !important
  margin 0
  li
    border none !important
    background 0 0 !important
    margin 0
    &.active
      border none !important
      background 0 0 !important
      background 0 0
      border-bottom 4px solid #3fc9d5 !important
      position relative
      a
        border none !important
        background 0 0 !important
        color #333
        background 0 0 !important
        margin 0
        padding 10px 15px
        &:hover
          border none !important
          background 0 0 !important
    &:hover
      border none !important
      background 0 0 !important
      border-bottom 4px solid #a7e6ec !important
    a
      border none !important
      background 0 0 !important
      margin 0
      padding-left 15px
      padding-right 15px
      color #737373
      &:active
        border none !important
        background 0 0 !important



/*
End Custom Bootstrap
*/



.nopadding
  padding 0px !important

.portlet-title
  padding 17px 20px 10px
  border-bottom 1px solid #eee

.portlet-body
  padding 10px 20px 20px 25px

.page-title
  color #2f353b!important
  text-transform uppercase !important
  font-size 16px
  font-weight bold
  padding 5px 0px

.sub-title-container
  padding 10px 10px
  border-bottom 1px solid #ebf0f5

.sub-title
  text-transform uppercase
  color #2f353b!important
  font-weight bold

.sub-container
  padding 10px 15px
  background-color #fff
  border 1px solid #ebf0f5
  min-height 300px

.lighter
  color #777

.bold
  font-weight bold !important

.darker
  color #333

