.team-header {
    font-size:1.1em;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    background-color:#1a2c51;
    color:#fff;
    padding:5px;
}

#custom-search-input {
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

