@import '../../components/variables.css';

.team-header {
    font-size:1.1em;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    background-color:#1a2c51;
    color:#fff;
    padding:5px;
}

#custom-search-input {
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}



.title {
    font-size: 1.2em;
}

.PanelPage-container {
    margin: 0 auto;
    padding: 0px;
    max-width: var(--max-content-width);
    background: #ddd;
    border-radius: 3px;
}

.page-content {
    background-color:#eff3f8;
    padding:15px 0;
    min-height:800px;
    margin-top:100px;
}
.portlet {
    margin-top:0px;
    margin-bottom:25px;
    padding:0px;
    border-radius:4px;
}
.portlet.light {
    padding:12px 20px 15px;
    background-color:#fff;
}
.portlet.light.portlet-fit {
    padding: 0;
}


.page-head {
    background-color:#fff;
}

.panel-body {
    font-size: 1.2em;
}
