.inline-list-item.date-item {
    margin:10px 0px;
    width:25%;
}
.inline-list-item.division-item {
    margin:10px 0px;
    width:50%;
}
.inline-list-item.status-item {
    width:25%;
    color:#aaa;
    font-size:.8em;
}
