.inline-list-item.number-item {
    margin:10px 0px;
    width:10%;
}
.inline-list-item.name-item {
    width:70%;
}
.inline-list-item.position-item {
    width:10%;
    color:#aaa;
}
.inline-list-item.height-item {
    width:10%;
    color:#aaa;
}
