textarea,
input {
  outline: none;
}
:root {
  --white-base: #fff;
  --gray-darker: color(#000 13.333333333333334%);
  --gray-dark: color(#000 25.098039215686274%);
  --gray: color(#000 33.33333333333333%);
  --gray-light: color(#000 46.666666666666664%);
  --gray-lighter: color(#000 46.666666666666664%);
  --font-family-base: 'Segoe UI', 'HelveticaNeue-Light', sans-serif;
  --max-content-width: 1000px;
  --screen-xs-min: 480px;
  --screen-sm-min: 768px;
  --screen-md-min: 992px;
  --screen-lg-min: 1200px;
  --animation-swift-out: 0.45s cubic-bezier(0.3, 1, 0.4, 1) 0s;
}
.wrapper {
  zoom: 1;
  max-width: 900px;
  margin: 0 auto;
}
.wrapper:after,
.wrapper:before {
  content: "";
  display: table;
}
.wrapper:after {
  clear: both;
}
td {
  padding: 10px 20px;
}
.btn {
  border-radius: 4px;
  color: #fff;
  border: 0px;
  padding: 10px 20px;
  background-color: #1788fe;
  margin-right: 20px;
}
.btn:first-child {
  margin-left: 0;
}
.clickable {
  color: #1788fe;
  border: 0px;
  margin-right: 20px;
}
.clickable:first-child {
  margin-left: 0;
}
.clickable:visited {
  color: #1788fe;
}
.subtitle {
  text-align: center;
  padding: 20px 0;
  font-weight: 800;
}
.table {
  width: 96%;
  margin: 0 2%;
  padding: 10px;
  border: 1px solid #d2d2d2;
}
.controls {
  width: 100%;
}
.published-container {
  float: left;
  width: 50%;
}
.unpublished-container {
  float: left;
  width: 50%;
}
