.high-container {
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    align-items:center;
    background-color:#f8f8f8;
}

.high-block {
    padding:8px;
    min-width:10%;

}
.high-title {
    font-size:0.6em;
    font-weight:bold;
    text-align:center;
    text-transform: uppercase;
    color:#444;
}

.high-date {
    font-size:0.6em;
    font-weight:normal;
    text-align:center;
    text-transform: uppercase;
    color:#888;
}

.high-result {
    font-size:0.75em;
    font-weight:normal;
    text-align:center;
    text-transform: uppercase;
    color:#888;
}
.high-stat {
    font-size:1.25em;
    text-align:center;
}