.inline-list-item.number-item {
    display:inline-block;
    height:40px;
    width:10%;
}
.inline-list-item.name-item {
    width:60%;
}
.inline-list-item.position-item {
    width:10%;
    color:#aaa;
}
.inline-list-item.height-item {
    width:10%;
    color:#aaa;
}
.inline-list-item.add-item {
    width:10%;
    height:28px;
}